<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>To Do</title>
        @Styles.Render("~/Content/Bundles/Styles")
        @Scripts.Render("~/Content/Bundles/Scripts/Libraries")
        @Scripts.Render("~/Content/Bundles/Scripts/Modules")
    </head>
    <body ng-app="toDoApp">
        <div ng-include src="'@Url.Content("~/Modules/Templates/Header.html")'"></div>
        <div class="container-fluid">
            <div ng-include src="'@Url.Content("~/Modules/Templates/Categories.html")'"></div>
            <div ng-include src="'@Url.Content("~/Modules/Templates/ItemEdit.html")'"></div>
            <div class="content font-small">
                <div ng-view></div>
            </div>
        </div>
    </body>
</html>